<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>caltips.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC54FEC91E7638F9000194CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC54FEDD1E7638F9000194CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC54FEE81E7638FA000194CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
